html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
}

html, body {
    font-family: 'Muli', helvetica, arial, geneva, sans-serif;
    font-size: 12px;
    color: #c0d2f6;
    background-color: #1b1b1b;
}

.table, .table>tbody>tr:hover {
    color: #c0d2f6;
}

a:visited, a:active, a:hover, a:link {
    color: #55b5cf;
    text-decoration: none;
}

img {
    border: none;
}

textarea {
    color: #000000;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 700
}

.italic {
    font-style: italic;
}

.underline, .underlined {
    text-decoration: underline;
}

.big {
    font-size: 1.2em;
}

.small {
    font-size: 0.8em;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

.alert-success, .alert-success a {
    background-color: #33442c;
    border-color: #468847;
    color: #d6e9c6;
}

.alert-danger, .alert-error, .alert-danger a, .alert-error a {
    background-color: #602222;
    border-color: #b94a48;
    color: #eed3d7;
}

.alert-info, .alert-info a {
    background-color: #07415e;
    border-color: #3a87ad;
    color: #bce8f1;
}

.alert-warning, .alert-warning a {
    background-color: #605222;
    border-color: #b98f48;
    color: #eee0d3;
}

.red {
    color: #fb0b0b
}

.orange {
    color: #e07040
}

.yellow {
    color: #f9f73c
}

.green {
    color: #37cc12
}

.green-dark {
    color: #164f08
}

.blue-light {
    color: #63e8ec
}

.blue {
    color: #2b48cf
}

.blue-dark {
    color: #110b7a
}

.black {
    color: #000000;
}

.table {
    width: 100%;
}

thead, thead>tr>th, .thead {
    background-color: #212126;
    color: #bad0fb;
    font-weight: 700;
    padding: 5px 2.5px;
}

.avatar-profile, .item-info {
    max-height: 150px;
    max-width: 150px;
    border: none;
    border-radius: 5px;
}

.shop-front, .staff-list {
    max-height: 75px;
    max-width: 75px;
    border: none;
    border-radius: 5px;
}

.itempedia-item, .avatar-userlist, .staff-management-list {
    max-height: 50px;
    max-width: 50px;
    border: none;
    border-radius: 5px;
}

.shop-listing, .avatar-log-entry, .avatar-hof, .avatar-search, .avatar-friendslist, .avatar-blacklist, .avatar-index, .item-confirmation {
    max-height: 25px;
    max-width: 25px;
    border: none;
    border-radius: 5px;
}

.avatar-infobox {
    float: left;
    max-height: 50px;
    max-width: 50px;
    border: none;
    border-radius: 5px;
    padding-right: 5px;
}

.stat-bar {
    max-height: 10px;
}

.page-title {
    color: #fc8d43;
    font-size: 44px;
    font-weight: 300;
    line-height: 48px;
    margin: 0 0 48px;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.page-subtitle {
    color: #fc8d43;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.new-notification {
    color: #fcf543 !important;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.city-subtitle {
    font-size: 1.2em;
    color: #fc8d43;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.m-top-10 {
    margin-top: 10px;
}

.m-bottom-10 {
    margin-bottom: 10px;
}

.online-box {
    box-shadow: 0 0 10px #05b506;
}

.offline-box {
    box-shadow: 0 0 10px #b50505;
}

.admin-box {
    box-shadow: 0 0 10px #935ae4;
}

.secretary-box {
    box-shadow: 0 0 10px #07d410;
}

.assistant-box {
    box-shadow: 0 0 10px #e6de09;
}

.progress-bar-text {
    mix-blend-mode: difference;
}

.bg-dark-red {
    background-color: #810707;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider-danger {
    background-color: #f42121;
}

input:focus+.slider-danger {
    box-shadow: 0 0 1px #f42121;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
